<div class="row">
    <nav class="navbar navbar-toggleable-md navbar-dark bg-inverse">
        <div class="col col-xs-2 col-sm-2">
            <a class="navbar-brand" href="#/home"><strong>teamUP</strong></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 btn-container">
            <div class="navbar-container">
                <a class="btn btn-primary btn-nav btn-responsive" href="#/signin" id="sign-in-btn">Sign in</a>

                <a class="navbar-text" id="login-navbar-status" href="#/user">
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="row">
     <div class="col-xs-2 col-sm-4 col-md-2">
        <nav class="nav flex-column">
            <ul class="sidebar-nav">
                <li>
                    <a class="nav-link" href="#/createLobby">Create Lobby</a>
                </li>
                <li>
                    <a class="nav-link" href="#/joinLobby">Join Lobby</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Friends<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Invite Friends</a></li>
                        <li><a href="#">Your Team</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Lobbies<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/createdLobbies">Created Lobbies</a></li>
                        <li><a href="#/joinedLobbies">Joined Lobbies</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/events">Join Event</a></li>
                        <li><a href="#/joinedEvents">Joined Events</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-xs-2 col-sm-6 col-md-8">
        <div class="lobby-creation-form">
            <form>
                <div class="form-group">
                    <label for="input-lobbyname">Lobby name</label>
                    <input type="text" class="form-control" id="input-lobbyname" placeholder="Enter lobby name">
                </div>

                <div class="form-group">
                    <label for="sport-select">Select sport</label>
                    <select class="form-control" id="sport-select">
                        <option>Football</option>
                        <option>Basketball</option>
                        <option>Volleyball</option>
                        <option>Tennis</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="input-location">Location</label>
                    <input type="text" class="form-control" id="input-location" placeholder="Enter desired location">
                </div>
                <div class="form-group">
                    <label for="input-datetime">Time</label>
                    <input class="form-control" type="datetime-local" value="2017-01-01T00:00:00" id="input-datetime">
                </div>

                <small id="help" class="form-text text-muted">Choose for what are you searching for:</small>
                <div class="radio-group" data-toggle="buttons">
                    <label class="btn btn-primary radio-btn btn-responsive active">
                        <input type="radio" name="options" id="option1" autocomplete="off" value="Team" checked> Team
                    </label>
                    <label class="btn btn-primary radio-btn btn-responsive">
                        <input type="radio" name="options" id="option2" autocomplete="off" value="Partner"> Partner
                    </label>
                </div>
            </form>

            <button class="btn btn-primary submit-btn btn-responsive" id="create-lobby-btn">Create</button>
        </div>
    </div>
</div>

<div class="row navbar footer-navbar bg-inverse">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12">
            <div class="brand-icons">
                <a data-href="https://gnome-teamwork-e0bde.firebaseapp.com/" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgnome-teamwork-e0bde.firebaseapp.com%2F&amp;src=sdkpreparse"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
                <a><i class="fa fa-twitter fa-2x fa-fw"></i></a>
                <a href="https://github.com/Team-Gnome/teamwork-js-applications"><i class="fa fa-github fa-2x fa-fw"></i></a>
                <i class="fa fa-instagram fa-2x fa-fw"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12">
            <div class="footer-copyright">© 2017 Copyright:<a href="https://github.com/Team-Gnome/teamwork-js-applications"> Gnome-Team </a></div>
        </div>
    </div>
</div>