<nav class="navbar navbar-inverse bg-inverse">

    <form class="form-inline">
        <a class="navbar-brand" href="#/home">Gnome-Team</a>

        <div class="btn-nav-container">
            <p class="navbar-text" id="login-navbar-status">
            </p>

            <a class="btn btn-default navbar-btn" href="#/register" id="register-btn">Register</a>
            <a class="btn btn-default navbar-btn" href="#/signin" id="sign-in-btn">Sign in</a>
        </div>
    </form>
</nav>