<div class="row">
    <div class="col col-md-12">
        <nav class="navbar navbar-inverse bg-inverse">

            <div class="row">
                <div class="col col-md-2">
                    <a class="navbar-brand" href="#/home">Gnome-Team</a>
                </div>

                <div class="col col-md-10">
                    <div class="btn-nav-container">
                        <p class="navbar-text" id="login-navbar-status">
                        </p>

                        <a class="btn btn-default navbar-btn" href="#/register" id="register-btn">Register</a>
                        <a class="btn btn-default navbar-btn" href="#/signin" id="sign-in-btn">Sign in</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col col-md-12">

    </div>
</div>