<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#/home">Gnome-Team</a>

        <a class="btn btn-default navbar-btn float-right" href="#/register" id="register-btn">Register</a>
        <a class="btn btn-default navbar-btn float-right" href="#/signin" id="sign-in-btn">Sign in</a>

        <p class="navbar-text navbar-right" id="login-navbar-status">
        </p>

    </div>
</nav>

<div class="centred">
    <strong>Welcome!</strong>
</div>