<div class="row">
    <nav class="navbar navbar-toggleable-md navbar-dark bg-inverse">
        <div class="col col-xs-2 col-sm-2">
            <a class="navbar-brand" href="#/home"><strong>Gnome-Team</strong></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 btn-container">
            <div class="navbar-container">
                <a class="btn btn-primary btn-nav btn-responsive" href="#/register" id="register-btn">Register</a>
                <a class="btn btn-primary btn-nav btn-responsive" href="#/signin" id="sign-in-btn">Sign in</a>

                <a class="navbar-text" id="login-navbar-status" href="#/user">
                </a>
            </div>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-6 col-md-12">
        <div class="alert alert-danger" role="alert">
            <strong>Error 404. Page is not avaiable.</strong>
        </div>
    </div>
</div>

<div class="row navbar footer-navbar bg-inverse">
    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12">
            <div class="brand-icons">
                <a data-href="https://gnome-teamwork-e0bde.firebaseapp.com/" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgnome-teamwork-e0bde.firebaseapp.com%2F&amp;src=sdkpreparse"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
                <a><i class="fa fa-twitter fa-2x fa-fw"></i></a>
                <a href="https://github.com/Team-Gnome/teamwork-js-applications"><i class="fa fa-github fa-2x fa-fw"></i></a>
                <i class="fa fa-instagram fa-2x fa-fw"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12">
            <div class="footer-copyright">© 2017 Copyright:<a href="https://github.com/Team-Gnome/teamwork-js-applications"> Gnome-Team </a></div>
        </div>
    </div>
</div>