<nav class="navbar navbar-inverse bg-inverse">

    <form class="form-inline">
        <a class="navbar-brand" href="#/home">Gnome-Team</a>

        <div class="btn-nav-container">
            <p class="navbar-text" id="login-navbar-status">You are not currently logged in.
            </p>

            <a class="btn btn-default navbar-btn" href="#/register" id="register-btn">Register</a>
        </div>
    </form>
</nav>

<div class="sign-form">
    <form>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </form>

    <button class="btn btn-primary submit-btn" id="send-sign-in-btn">Sign in</button>
</div>