<div class="row">
    <div class="col col-md-12">
        <nav class="navbar navbar-inverse bg-inverse">

            <div class="row">
                <div class="col col-md-2">
                    <a class="navbar-brand" href="#/home">Gnome-Team</a>
                </div>

                <div class="col col-md-10">
                    <div class="btn-nav-container">
                        <a class="navbar-text" id="login-navbar-status" href="#/user">
                        </a>

                        <a class="btn btn-default navbar-btn" href="#/signin" id="sign-in-btn">Sign in</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col col-md-2">
        <nav class="nav flex-column">
            <ul class="sidebar-nav">
                <li>
                    <a class="nav-link" href="#/createLobby">Create Lobby</a>
                </li>
                <li>
                    <a class="nav-link" href="#/joinLobby">Join Lobby</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Your Team</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Lobbies<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/createdLobbies">Created Lobbies</a></li>
                        <li><a href="#/joinedLobbies">Joined Lobbies</a></li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link" href="#">Events</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-6 col-md-10">

    </div>
</div>

<div class="row">
    <div class="col col-md-12">
        <footer class="footer bg-inverse">
            <div class="brand-icons">
                <i class="fa fa-facebook fa-2x fa-fw"></i>
                <i class="fa fa-twitter fa-2x fa-fw"></i>
                <i class="fa fa-github fa-2x fa-fw"></i>
                <i class="fa fa-instagram fa-2x fa-fw"></i>
            </div>
        </footer>
    </div>
</div>