<nav class="navbar navbar-inverse bg-inverse">

    <form class="form-inline">
        <a class="navbar-brand" href="#/home">Gnome-Team</a>

        <div class="btn-nav-container">
            <a class="navbar-text" id="login-navbar-status" href="#/user">
            </a>

            <a class="btn btn-default navbar-btn" href="#/signin" id="sign-in-btn">Sign in</a>
        </div>
    </form>
</nav>

<nav class="nav flex-column">
    <ul class="sidebar-nav">
        <li>
            <a class="nav-link" href="#/createLobby">Create Lobby</a>
        </li>
        <li>
            <a class="nav-link" href="#">Join Lobby</a>
        </li>
        <li>
            <a class="nav-link" href="#">Team</a>
        </li>
        <li>
            <a class="nav-link" href="#">Events</a>
        </li>
    </ul>
</nav>