body {
    background: url("/styles/img/home-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    margin-bottom:5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0vw;
}

.hidden {
    display: none;
}

h2{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}

h2 span {
   color: white; 
   letter-spacing: 1px;  
}

.navbar {
    width: 100%;
}

.navbar-text { 
    float: right;
    margin-top: 0.5%;
    margin-right: 3%;
}

.btn-nav {
    float: right;
}

.join-lobby-btn{
    font-size:80%;
    padding: 1% 1% 1% 1%;
}

.leave-lobby-btn  {
    font-family: 'Montserrat', sans-serif;
    font-size:80%;
    padding: 1% 1% 1% 1%;
}

.delete-lobby-btn{
    font-family: 'Montserrat', sans-serif;
    font-size:80%;
    padding: 1% 1% 1% 1%;
}
  
@media (max-width: 768px) {
  .btn-responsive {
    padding:1% 2%;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

.navbar-container {
       width: 100%;
       padding-right: 10px;
}

.sign-form {
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    background-color: rgba(41, 43, 44, 0.9); 
    filter: alpha(opacity=50); /* For IE8 and earlier */
    padding: 2% 2% 2% 2%;
    margin: auto;
    margin-top: 13%;
    width: 25%;
    left: 0;
    right: 0;
}

.sign-form input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    font-weight: bolder;
    color: white;
}

#inputPassword{
    margin-bottom: 5%;
}

.sign-form label {
    font-size: 0.9em;
    font-weight: bolder;
    color: white;
}

.registration-form {
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    background-color: rgba(41, 43, 44, 0.9); 
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin: auto;
    margin-top: 3%;
    margin-bottom: 1.5%;
    padding: 1% 5% 1% 5%;
    width: 35%;
    left: 0;
    right: 0;
}

.registration-form input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    font-weight: bolder;
    color: white;
}

.registration-form label {
    font-size: 0.9em;
    font-weight: bolder;
    color: white;
}

.list-group-item small{
    font-weight: bold;
    text-decoration: underline;
}

.lobby-creation-form{
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
    background-color: rgba(41, 43, 44, 0.9); 
    filter: alpha(opacity=50); /* For IE8 and earlier */
    margin: auto;
    margin-top: 2.2%;
    padding: 1% 5% 1% 5%;
    width: 50%;
    height: 100%;
    left: 0;
    right: 0;
}

.lobby-creation-form input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    font-weight: bolder;
    color: white;
}

.lobby-creation-form label {
    font-size: 0.9em;
    font-weight: bolder;
    color: white;
}

input::-webkit-input-placeholder {
    color: gray !important;  
}
 
input:-moz-placeholder { /* Firefox 18- */
    color: gray !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
    color: gray !important;  
}
 
input:-ms-input-placeholder {  
    color: gray !important;  
}

.radio-btn {
    width: 35%;
}

.radio-group {  
    margin-bottom: 10%;
    text-align:center;
}

.submit-btn {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0 auto;
}

.d-flex{
    margin-bottom: 10px;
}

.lobbies-list {
    margin-top: 1%;
    height: 650px;
    overflow-y:auto;
    padding-right: 10px;
    padding-left: 0;
    bottom: 50px;
}

.lobbies-list li {
    background-color: rgba(255, 255, 255, 0.9); 
}

.bolder {
    font-weight: bold;
}

.lobby-btn{
    right: 20px;
    bottom: 20px;
    position: absolute;
    width:100px;
}

.footer-navbar {
    color: #999;
    margin-right: 0;
    margin-left: 0;
}

.row.navbar.footer-navbar.bg-inverse{
    position:fixed;
    bottom:0px;
    margin-bottom:0px;
}

.footer-copyright {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: auto;
    margin-left: 42%;
}

.brand-icons{
    color: #0275D8;
}

#sport-select{
    font-family: 'Montserrat', sans-serif;
}

.alert{
    margin: 1% 1%;
}

.form-control{
      color: #999;
      font-weight: bold;    
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    height: 100%;
    color: #292B2C;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background-color: #292B2C;
}

.sidebar-nav li {
    text-align: center;
    position: relative; 
    line-height: 25px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 10px;
    background-color: #00ff99;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:nth-child(2):before {
    background-color: #ffff66;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #ff4d88
}
.sidebar-nav li:nth-child(4):before {
    background-color: #1a75ff;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #d580ff;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;
}

.dropdown-menu li:nth-child(1):before {
    background-color: #35acdf;
}
 
.dropdown-menu li:nth-child(2):before {
    background-color: #35acdf;
}

.sidebar-nav li a {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

/*-------------------------------*/
/*     Profile styles        */
/*-------------------------------*/

.profile {
  font-size: 1.2em;
  margin: 10% 0;
}

.profile-sidebar {
    color: white;
    padding: 20px 0 10px 0;
    border-radius: 25px;
    background-color: rgba(41, 43, 44, 0.9); 
}

.profile-userpic img {
  opacity: 0.8;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  display:block;
  margin:auto;
  width: 20%;
  height: 20%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 1.2em;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {  
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.profile-nav{
    padding-left: 0;
    margin: auto;
    width:20%;
    text-align: center;
    list-style-type: none;
}